#
# This file is part of the focus-resources-server package.
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.
#

Deny from all
